In [ ]:
import neo4jupyter  #Before import neo4jupyter, need to !pip install neo4jupyter
from py2neo import Graph
import pandas as pd

In [ ]:
# Connect to Neo4j
graph = Graph("bolt://localhost:7687", auth=("neo4j", "12345678"))

In [ ]:
# Read file Customer
customer = pd.read_csv("D:/CSDL/customer.csv")
customer.head(5)

,index,cc_num,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time
0,1,6.760000e+11,92.04,Lisa,Fitzpatrick,F,58761 Brewer Rapids,Skytop,PA,18357,41.2336,-75.2389,104,Financial trader,8/25/1927,7734521672b0d4226e8beb2f32a18be6,1385856055
1,2,3.590000e+15,55.37,Dylan,Garcia,M,923 Jordan Road,Afton,MN,55001,44.8696,-92.8234,2916,Barrister's clerk,6/29/1935,802e9541f9b488a428ec596d62917edc,1385856072
2,3,4.150000e+15,111.36,Tanner,Carroll,M,494 Burke Ports,Cokeburg,PA,15324,40.1008,-80.0652,632,Dealer,4/8/1989,8def08fd0956c7c6e195ecec91ff5dbe,1385856127
3,4,2.130000e+14,108.09,James,Hunt,M,7369 Gabriel Tunnel,Pointe Aux Pins,MI,49775,45.7549,-84.4470,95,Electrical engineer,2/9/1994,4c24b8c2865a0e0fd426c4eb20617a03,1385856130
4,5,5.720000e+11,11.58,Susan,Mills,F,005 Cody Estates,Louisville,KY,40202,38.2507,-85.7476,736284,Engineering geologist,4/2/1952,a9f5ad66e14aa6c96465cc7c5777c0f7,1385856143

In [ ]:
# Read file Transaction
transaction = pd.read_csv("D:/CSDL/transaction.csv")
transaction.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,trans_num,unix_time,is_fraud
0,12/1/2020,6.762920e+11,fraud_Stracke-Lemke,grocery_pos,92.04,7734521672b0d4226e8beb2f32a18be6,1385856055,0
1,12/1/2020,3.592930e+15,fraud_Marks Inc,gas_transport,55.37,802e9541f9b488a428ec596d62917edc,1385856072,0
2,12/1/2020,4.149240e+15,"fraud_Moen, Reinger and Murphy",grocery_pos,111.36,8def08fd0956c7c6e195ecec91ff5dbe,1385856127,0
3,12/1/2020,2.131940e+14,fraud_Bogisich Inc,grocery_pos,108.09,4c24b8c2865a0e0fd426c4eb20617a03,1385856130,0
4,12/1/2020,5.718440e+11,fraud_Lebsack and Sons,misc_net,11.58,a9f5ad66e14aa6c96465cc7c5777c0f7,1385856143,0

In [ ]:
# Read file Merch
merch = pd.read_csv("D:/CSDL/merch.csv")
merch.head(5)

,category,merchant,merch_lat,merch_long,trans_num
0,grocery_pos,fraud_Stracke-Lemke,42.14648,-74.32872,7734521672b0d4226e8beb2f32a18be6
1,gas_transport,fraud_Marks Inc,45.09455,-93.73171,802e9541f9b488a428ec596d62917edc
2,grocery_pos,"fraud_Moen, Reinger and Murphy",41.02571,-80.37698,8def08fd0956c7c6e195ecec91ff5dbe
3,grocery_pos,fraud_Bogisich Inc,45.58304,-83.75529,4c24b8c2865a0e0fd426c4eb20617a03
4,misc_net,fraud_Lebsack and Sons,37.39584,-85.36133,a9f5ad66e14aa6c96465cc7c5777c0f7

In [ ]:
from sklearn.model_selection import train_test_split
# Divided train-test 7-3
train_customer, test_customer = train_test_split(customer, test_size = 0.3, random_state = 42)
train_transaction, test_transaction = train_test_split(transaction, test_size = 0.3, random_state = 42)
train_merch, test_merch = train_test_split(merch, test_size = 0.3, random_state = 42)

In [ ]:
# Create node for Customer-train
for _, row in train_customer.iterrows():
    # Retrieve information from the row
    index = row['index']
    cc_num = row['cc_num']
    amt = row['amt']
    first = row['first']
    last = row['last']
    gender = row['gender']
    street = row['street']
    city = row['city']
    state = row['state']
    zip_code = row['zip']
    lat = row['lat']
    lon = row['long']
    city_pop = row['city_pop']
    job = row['job']
    dob = row['dob']
    trans_num = row['trans_num']
    unix_time = row['unix_time']

    # Create a Customer node with attributes and set the train=True
    query_create_customer = '''
    CREATE (c:Customer {index: $index, cc_num: $cc_num, amt: $amt, first: $first, last: $last, gender: $gender,
                        street: $street, city: $city, state: $state, zip: $zip_code, lat: $lat, lon: $lon,
                        city_pop: $city_pop, job: $job, dob: $dob, trans_num: $trans_num, unix_time: $unix_time,
                        train: True})
    '''
    graph.run(query_create_customer, index=index, cc_num=cc_num, amt=amt, first=first, last=last, gender=gender,
              street=street, city=city, state=state, zip_code=zip_code, lat=lat, lon=lon, city_pop=city_pop,
              job=job, dob=dob, trans_num=trans_num, unix_time=unix_time)

In [ ]:
# Create node for Customer-test
for _, row in test_customer.iterrows():
    # Lấy thông tin từ hàng
    index = row['index']
    cc_num = row['cc_num']
    amt = row['amt']
    first = row['first']
    last = row['last']
    gender = row['gender']
    street = row['street']
    city = row['city']
    state = row['state']
    zip_code = row['zip']
    lat = row['lat']
    lon = row['long']
    city_pop = row['city_pop']
    job = row['job']
    dob = row['dob']
    trans_num = row['trans_num']
    unix_time = row['unix_time']

    # Create a Customer node with attributes and set the train=False
    query_create_customer = '''
    CREATE (c:Customer {index: $index, cc_num: $cc_num, amt: $amt, first: $first, last: $last, gender: $gender,
                        street: $street, city: $city, state: $state, zip: $zip_code, lat: $lat, lon: $lon,
                        city_pop: $city_pop, job: $job, dob: $dob, trans_num: $trans_num, unix_time: $unix_time,
                        train: False})
    '''
    graph.run(query_create_customer, index=index, cc_num=cc_num, amt=amt, first=first, last=last, gender=gender,
              street=street, city=city, state=state, zip_code=zip_code, lat=lat, lon=lon, city_pop=city_pop,
              job=job, dob=dob, trans_num=trans_num, unix_time=unix_time)

In [ ]:
# Create node for Transaction-train
for _, row in train_transaction.iterrows():
    trans_date_trans_time = row['trans_date_trans_time']
    cc_num = row['cc_num']
    merchant = row['merchant']
    category = row['category']
    amt = row['amt']
    trans_num = row['trans_num']
    unix_time = row['unix_time']
    is_fraud = row['is_fraud']

    # Create a Transaction node with attributes and set the train=True
    query_create_transaction = '''
    CREATE (t:Transaction {trans_date_trans_time: $trans_date_trans_time, cc_num: $cc_num, merchant: $merchant,
                           category: $category, amt: $amt, trans_num: $trans_num, unix_time: $unix_time,
                           is_fraud: $is_fraud, train: True})
    '''
    graph.run(query_create_transaction, trans_date_trans_time=trans_date_trans_time, cc_num=cc_num, merchant=merchant,
              category=category, amt=amt, trans_num=trans_num, unix_time=unix_time, is_fraud=is_fraud)

In [ ]:
# Create node for Transaction-test
for _, row in test_transaction.iterrows():
    trans_date_trans_time = row['trans_date_trans_time']
    cc_num = row['cc_num']
    merchant = row['merchant']
    category = row['category']
    amt = row['amt']
    trans_num = row['trans_num']
    unix_time = row['unix_time']
    is_fraud = row['is_fraud']

    # Create a Transaction node with attributes and set the train=False
    query_create_transaction = '''
    CREATE (t:Transaction {trans_date_trans_time: $trans_date_trans_time, cc_num: $cc_num, merchant: $merchant,
                           category: $category, amt: $amt, trans_num: $trans_num, unix_time: $unix_time,
                           is_fraud: $is_fraud, train: False})
    '''
    graph.run(query_create_transaction, trans_date_trans_time=trans_date_trans_time, cc_num=cc_num, merchant=merchant,
              category=category, amt=amt, trans_num=trans_num, unix_time=unix_time, is_fraud=is_fraud)

In [ ]:
# Create node for Merch-train
for _, row in train_merch.iterrows():
    category = row['category']
    merchant = row['merchant']
    merch_lat = row['merch_lat']
    merch_long = row['merch_long']
    trans_num = row['trans_num']

    # Create a Merch node with attributes and set the train=True
    query_create_merch = '''
    CREATE (m:Merch {category: $category, merchant: $merchant,
                           merch_lat: $merch_lat, merch_long: $merch_long,
                           trans_num: $trans_num, train: True})
    '''
    graph.run(query_create_merch, category=category, merchant=merchant,
              merch_lat=merch_lat, merch_long=merch_long, trans_num=trans_num)

In [ ]:
# Create node for Merch-test
for _, row in test_merch.iterrows():
    category = row['category']
    merchant = row['merchant']
    merch_lat = row['merch_lat']
    merch_long = row['merch_long']
    trans_num = row['trans_num']

    # Create a Merch node with attributes and set the train=False
    query_create_merch = '''
    CREATE (m:Merch {category: $category, merchant: $merchant,
                           merch_lat: $merch_lat, merch_long: $merch_long,
                           trans_num: $trans_num, train: False})
    '''
    graph.run(query_create_merch, category=category, merchant=merchant,
              merch_lat=merch_lat, merch_long=merch_long, trans_num=trans_num)

In [ ]:
# Create relationship name MADE_TRANSACTION between Customer and Transaction
query_linkcus_trans = '''
MATCH (c:Customer), (t:Transaction)
WHERE c.trans_num = t.trans_num
CREATE (c)-[:MADE_TRANSACTION]->(t)
'''
graph.run(query_linkcus_trans)

(No data)

In [ ]:
# Create relationship name RELATED_TO between Transaction and Merch
query_linktrans_merch = '''
MATCH (t:Transaction), (m:Merch)
WHERE t.trans_num = m.trans_num
CREATE (t)-[:RELATED_TO]->(m)
'''
graph.run(query_linktrans_merch)

(No data)

In [ ]:
# Check the relationship between Customer, Transaction, and Merch in the Neo4j (train dataset):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE c.train = true AND t.train = true and m.train = true
        # RETURN c, t, m
        # LIMIT 5

In [ ]:
# Check the relationship between Customer, Transaction, and Merch in the Neo4j (test dataset):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE c.train = false AND t.train = false and m.train = false
        # RETURN c, t, m
        # LIMIT 5

In [ ]:
# Create DataFrame include columns: amt, merchant, trans_date_trans_time, is_fraud, category
query = """
MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)
RETURN  t.amt AS amount, t.merchant AS merchant, t.trans_date_trans_time AS transaction_time,
        t.is_fraud AS is_fraud, t.category AS category, t.cc_num AS cc_num
"""
result = graph.run(query)
data = {"amount": [], "merchant": [], "transaction_time": [], "is_fraud": [], "category": [], "cc_num": []}

# Iterate through the query results and save the data into their respective parts
for record in result:
    data["amount"].append(record["amount"])
    data["merchant"].append(record["merchant"])
    data["transaction_time"].append(record["transaction_time"])
    data["is_fraud"].append(record["is_fraud"])
    data["category"].append(record["category"])
    data["cc_num"].append(record["cc_num"])

df = pd.DataFrame(data)

# Utilize the pre-split training and testing sets
df_train = df.loc[train_transaction.index]
df_test = df.loc[test_transaction.index]

print("Train Data:")
print(df_train)

Train Data:
        amount                               merchant transaction_time  \
86020    25.86                      fraud_Friesen Inc        12/5/2020
29726    98.14                fraud_Hackett-Lueilwitz       12/11/2020
9599     74.85                 fraud_Skiles-Ankunding        12/7/2020
18497    73.10                         fraud_Wolf Inc       12/29/2020
8842     26.96                       fraud_Kuhn Group       12/14/2020
...        ...                                    ...              ...
110268  208.55                         fraud_Auer LLC        12/1/2020
119879  105.55   fraud_Swaniawski, Nitzsche and Welch       12/22/2020
103694    1.69                       fraud_Schumm PLC       12/20/2020
131932  122.93  fraud_Wuckert, Wintheiser and Friesen       12/27/2020
121958   13.51     fraud_Gutmann, McLaughlin and Wiza        12/8/2020

        is_fraud        category        cc_num
86020          0    shopping_pos  3.533180e+15
29726          0     grocery_pos  4.158010e+12
9599           0     grocery_net  3.568260e+15
18497          0     grocery_pos  3.023500e+13
8842           0     food_dining  4.502540e+18
...          ...             ...           ...
110268         0   personal_care  6.538440e+15
119879         0  health_fitness  3.573030e+15
103694         0    shopping_net  2.131910e+14
131932         0            home  3.710090e+14
121958         0            home  4.155020e+15

[97676 rows x 6 columns]

In [ ]:
print("Test Data:")
print(df_test)

Test Data:
        amount                             merchant transaction_time  \
137472   25.34                     fraud_Little Ltd       12/29/2020
93149   803.04               fraud_Hermann and Sons        12/8/2020
14680     8.07               fraud_Jakubowski Group       12/20/2020
26127     3.29   fraud_Crist, Jakubowski and Littel       12/24/2020
113736    7.40                fraud_Halvorson Group        12/1/2020
...        ...                                  ...              ...
134655  141.95  fraud_Yost, Schamberger and Windler        12/1/2020
81127   166.11               fraud_Kemmer-Buckridge       12/29/2020
127601   73.04                   fraud_Kassulke Inc       12/29/2020
39417    81.56                     fraud_Harris Inc        12/8/2020
123650   15.05               fraud_Dibbert and Sons       12/10/2020

        is_fraud       category        cc_num
137472         0      kids_pets  4.426080e+18
93149          0   shopping_pos  4.873780e+15
14680          0    food_dining  3.434730e+14
26127          0           home  4.430880e+15
113736         0       misc_pos  6.011600e+15
...          ...            ...           ...
134655         0      kids_pets  5.020500e+11
81127          0       misc_pos  1.800670e+14
127601         0  entertainment  4.841310e+15
39417          0  gas_transport  2.713910e+15
123650         0  entertainment  3.583290e+15

[41862 rows x 6 columns]

In [ ]:
# Analyze the 'amount' attribute on the training set
amt_analysis_train = df_train['amount'].describe()
print("The amount of transactions in the training set:")
print(amt_analysis_train)

# Analyze the 'amount' attribute on the testing set
amt_analysis_test = df_test['amount'].describe()
print("The amount of transactions in the testing set:")
print(amt_analysis_test)

The amount of transactions in the training set:
count    97676.000000
mean        68.838705
std        169.484718
min          1.000000
25%          9.610000
50%         47.220000
75%         82.530000
max      21437.710000
Name: amount, dtype: float64
The amount of transactions in the testing set:
count    41862.000000
mean        68.779410
std        182.233559
min          1.000000
25%          9.740000
50%         47.255000
75%         83.010000
max      22768.110000
Name: amount, dtype: float64

In [ ]:
# Analyze the 'merchant' attribute on the training set
merchant_count_train = df_train['merchant'].value_counts()
print("The transaction provider in the training set:")
print(merchant_count_train)
# Analyze the 'merchant' attribute on the testing set
merchant_count_test = df_test['merchant'].value_counts()
print("====================================")
print("The transaction provider in the testing set:")
print(merchant_count_test)

The transaction provider in the training set:
fraud_Kilback LLC                       319
fraud_Cormier LLC                       284
fraud_Schumm PLC                        284
fraud_Boyer PLC                         273
fraud_Kuhn LLC                          266
                                       ...
fraud_Kunze, Larkin and Mayert           48
fraud_Champlin, Rolfson and Connelly     46
fraud_Satterfield-Lowe                   44
fraud_Skiles-Ankunding                   44
fraud_Douglas, DuBuque and McKenzie      44
Name: merchant, Length: 693, dtype: int64
====================================
The transaction provider in the testing set:
fraud_Kilback LLC                        138
fraud_Dickinson Ltd                      132
fraud_Cormier LLC                        122
fraud_Emard Inc                          113
fraud_Kuhn LLC                           112
                                        ...
fraud_Tromp Group                         18
fraud_Block-Hauck                         17
fraud_Breitenberg LLC                     17
fraud_Hodkiewicz, Prohaska and Paucek     16
fraud_Kohler, Lindgren and Koelpin        15
Name: merchant, Length: 693, dtype: int64

In [ ]:
# Analyze the 'category' attribute on the training set
category_counts_train = df_train['category'].value_counts()
print("Analyze the 'category' column in the training set:")
print(category_counts_train)
# Analyze the 'category' attribute on the testing set
category_counts_test = df_test['category'].value_counts()
print("====================================")
print("Analyze the 'category' column in the testing set.:")
print(category_counts_test)

Analyze the 'category' column in the training set:
gas_transport     10047
home               9201
grocery_pos        9187
shopping_pos       8876
kids_pets          8553
shopping_net       7338
personal_care      6985
entertainment      6918
food_dining        6701
health_fitness     6462
misc_pos           6109
misc_net           4821
grocery_net        3420
travel             3058
Name: category, dtype: int64
====================================
Analyze the 'category' column in the testing set.:
gas_transport     4273
home              4036
grocery_pos       3934
shopping_pos      3781
kids_pets         3600
entertainment     3124
shopping_net      3123
personal_care     2966
food_dining       2848
health_fitness    2753
misc_pos          2632
misc_net          2010
grocery_net       1522
travel            1260
Name: category, dtype: int64

In [ ]:
# Convert the transaction_time format to a timestamp
df_train['transaction_time'] = pd.to_datetime(df_train['transaction_time'])
df_test['transaction_time'] = pd.to_datetime(df_test['transaction_time'])

# Create a new column 'transaction_date' containing only the date from the 'transaction_time' column
df_train['transaction_date'] = df_train['transaction_time'].dt.date
df_test['transaction_date'] = df_test['transaction_time'].dt.date

# Analyze the number of transactions per day in the training and testing sets
transaction_counts_train = df_train['transaction_date'].value_counts().sort_index()
transaction_counts_test = df_test['transaction_date'].value_counts().sort_index()
print("The number of transactions per day in the training set:")
print(transaction_counts_train)

The number of transactions per day in the training set:
2020-12-01    4349
2020-12-02    2048
2020-12-03    2293
2020-12-04    2641
2020-12-05    2656
2020-12-06    3765
2020-12-07    4617
2020-12-08    4288
2020-12-09    2085
2020-12-10    2411
2020-12-11    2676
2020-12-12    2528
2020-12-13    3770
2020-12-14    4510
2020-12-15    4285
2020-12-16    2114
2020-12-17    2328
2020-12-18    2679
2020-12-19    2596
2020-12-20    3829
2020-12-21    4478
2020-12-22    4244
2020-12-23    2061
2020-12-24    2288
2020-12-25    2588
2020-12-26    2658
2020-12-27    3741
2020-12-28    4386
2020-12-29    4353
2020-12-30    2101
2020-12-31    2310
Name: transaction_date, dtype: int64

In [ ]:
print("The number of transactions per day in the testing set:")
print(transaction_counts_test)

The number of transactions per day in the testing set:
2020-12-01    1855
2020-12-02     943
2020-12-03     971
2020-12-04    1044
2020-12-05    1129
2020-12-06    1632
2020-12-07    1889
2020-12-08    1876
2020-12-09     889
2020-12-10    1040
2020-12-11    1117
2020-12-12    1113
2020-12-13    1630
2020-12-14    1890
2020-12-15    1765
2020-12-16     898
2020-12-17    1102
2020-12-18    1151
2020-12-19    1109
2020-12-20    1602
2020-12-21    1912
2020-12-22    1879
2020-12-23     880
2020-12-24     997
2020-12-25    1061
2020-12-26    1111
2020-12-27    1606
2020-12-28    1935
2020-12-29    1852
2020-12-30     917
2020-12-31    1067
Name: transaction_date, dtype: int64

In [ ]:
from neo4j import GraphDatabase
# Initialize driver object
driver = GraphDatabase.driver("bolt://localhost:7687", auth=("neo4j", "12345678"))

In [ ]:
# Extract the amount from the transactions - training set
def extract_transaction_amounts():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)
            WHERE t.train = true
            RETURN t.amt AS amount
            """
        )
        return [record["amount"] for record in result]

In [ ]:
import numpy as np
# Compute the threshold based on the mean value and standard deviation - training set
def calculate_threshold(amounts):
    mean = np.mean(amounts)
    std = np.std(amounts)
    threshold = mean + 3 * std
    return threshold

# Extract the amount from the transactions - training set
transaction_amounts = extract_transaction_amounts()

# Calculate threshold
threshold = calculate_threshold(transaction_amounts)

print("Threshold: ", threshold)

Threshold:  634.4636330610431

In [ ]:
# Retrieve nodes on Neo4j for transactions that exceed the threshold (training set):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE t.amt > 634.4636330610431 AND t.is_fraud = 1 AND t.train = true
        # WITH collect(c) AS customers, collect(t) AS transactions, collect(m) AS merch
        # RETURN customers, transactions, merch

In [ ]:
# Extract the amount from the transactions - training set
def find_transactions_above_threshold():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)
            WHERE t.amt > $threshold AND t.train = true AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            threshold=threshold
        )
        return [record["t"] for record in result]

# Process the results
transactions_above_threshold = find_transactions_above_threshold()

In [ ]:
print("The transactions with abnormal amounts in the training set:")
# Print column headers
print("{:<20s} {:<10s} {:<40s} {:<30s} {:<15s}".format("Transaction Date", "Amount", "Merchant", "Category", "CC_Number"))

# Print the dividing line
print("-" * 115)

# Print the data for each transaction
for transaction in transactions_above_threshold:
    trans_date_trans_time = transaction["trans_date_trans_time"]
    amt = transaction["amt"]
    merchant = transaction["merchant"]
    category = transaction["category"]
    cc_num = transaction["cc_num"]
    print("{:<20s} {:<10.2f} {:<40s} {:<20s} {:<15.0f}".format(trans_date_trans_time, amt, merchant, category, cc_num))

The transactions with abnormal amounts in the training set:
Transaction Date     Amount     Merchant                                 Category                       CC_Number
-------------------------------------------------------------------------------------------------------------------
12/2/2020            1183.93    fraud_Beier-Hyatt                        shopping_pos         3588000000000000
12/16/2020           1158.64    fraud_Terry-Huel                         shopping_net         639046000000
12/8/2020            1128.83    fraud_Lemke-Gutmann                      shopping_net         213181000000000
12/19/2020           1121.05    fraud_Schumm PLC                         shopping_net         374125000000000
12/8/2020            1115.54    fraud_Hills-Witting                      shopping_net         3545110000000000
12/5/2020            1107.65    fraud_Turner and Sons                    shopping_pos         630423000000
12/11/2020           1103.29    fraud_Stoltenberg-Beatty                 shopping_pos         3596220000000000
12/6/2020            1073.81    fraud_Boyer PLC                          shopping_net         3564180000000000
12/4/2020            1068.48    fraud_Auer-West                          shopping_net         213157000000000
12/2/2020            1061.37    fraud_Predovic Inc                       shopping_net         3588000000000000

In [ ]:
# Extract the amount from the transactions - testing set
def extract_transaction_amounts():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)
            WHERE t.train = false
            RETURN t.amt AS amount
            """
        )
        return [record["amount"] for record in result]

In [ ]:
# Compute the threshold based on the mean value and standard deviation - testing set
def calculate_threshold(amounts):
    mean = np.mean(amounts)
    std = np.std(amounts)
    threshold = mean + 3 * std
    return threshold

# Extract the amount from the transactions - testing set
transaction_amounts = extract_transaction_amounts()

# Calculate threshold
threshold = calculate_threshold(transaction_amounts)

print("Threshold: ", threshold)

Threshold:  463.43911408087143

In [ ]:
# Retrieve nodes on Neo4j for transactions that exceed the threshold (testing set):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE t.amt > 463.43911408087143 AND t.is_fraud = 1 AND t.train = false
        # WITH collect(c) AS customers, collect(t) AS transactions, collect(m) AS merch
        # RETURN customers, transactions, merch

In [ ]:
# Extract the amount from the transactions - testing set
def find_transactions_above_threshold():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)
            WHERE t.amt > $threshold AND t.train = false AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            threshold=threshold
        )
        return [record["t"] for record in result]

# Process the results
transactions_above_threshold = find_transactions_above_threshold()

In [ ]:
print("The transactions with abnormal amounts in the testing set:")
# Print column headers
print("{:<20s} {:<10s} {:<40s} {:<30s} {:<15s}".format("Transaction Date", "Amount", "Merchant", "Category", "CC_Number"))

# Print the dividing line
print("-" * 115)

# Print the data for each transaction
for transaction in transactions_above_threshold:
    trans_date_trans_time = transaction["trans_date_trans_time"]
    amt = transaction["amt"]
    merchant = transaction["merchant"]
    category = transaction["category"]
    cc_num = transaction["cc_num"]
    print("{:<20s} {:<10.2f} {:<40s} {:<20s} {:<15.0f}".format(trans_date_trans_time, amt, merchant, category, cc_num))

The transactions with abnormal amounts in the testing set:
Transaction Date     Amount     Merchant                                 Category                       CC_Number
-------------------------------------------------------------------------------------------------------------------
12/2/2020            1318.89    fraud_Torphy-Goyette                     shopping_pos         3588000000000000
12/9/2020            1155.37    fraud_Heathcote, Yost and Kertzmann      shopping_net         30093000000000
12/8/2020            1153.76    fraud_Altenwerth, Cartwright and Koss    shopping_net         3591920000000000
12/11/2020           1123.99    fraud_Kerluke-Abshire                    shopping_net         3596360000000000
12/2/2020            1118.24    fraud_Barrows PLC                        shopping_pos         3588000000000000
12/6/2020            1099.03    fraud_Langworth, Boehm and Gulgowski     shopping_net         3564180000000000
12/5/2020            1086.32    fraud_Reichert, Shanahan and Hayes       shopping_net         4292740000000000000
12/15/2020           1065.89    fraud_Schumm PLC                         shopping_net         6011490000000000
12/1/2020            1061.02    fraud_Kuhic LLC                          shopping_net         377835000000000
12/22/2020           1039.42    fraud_Mosciski, Ziemann and Farrell      shopping_net         2242180000000000

In [ ]:
# Extract a list of common merchants from the training set
def get_common_merchants():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (m:Merch)
            WHERE m.train = true
            WITH m.merchant AS merchant, COUNT(*) AS count
            RETURN merchant
            ORDER BY count DESC
            LIMIT 10
            """
        )
        return [record["merchant"] for record in result]
# Extract a list of common merchants.
common_merchants = get_common_merchants()
print("List of common merchants:")
print(common_merchants)

List of common merchants:
['fraud_Kilback LLC', 'fraud_Cormier LLC', 'fraud_Kuhn LLC', 'fraud_Schumm PLC', 'fraud_Boyer PLC', 'fraud_Dickinson Ltd', 'fraud_Emard Inc', 'fraud_Raynor, Reinger and Hagenes', 'fraud_Huels-Hahn', 'fraud_Wuckert-Goldner']

In [ ]:
# Retrieve nodes on Neo4j for transactions from uncommon merchants (training set):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE NOT m.merchant IN ['fraud_Kilback LLC', 'fraud_Cormier LLC', 'fraud_Kuhn LLC', 'fraud_Schumm PLC', 'fraud_Boyer PLC', 'fraud_Dickinson Ltd', 'fraud_Emard Inc', 'fraud_Raynor, Reinger and Hagenes', 'fraud_Huels-Hahn', 'fraud_Wuckert-Goldner']
        # AND m.train = true AND t.is_fraud = 1
        # RETURN c, t, m
        # ORDER BY t.amt DESC
        # LIMIT 10

In [ ]:
# Extract a list of uncommon merchants from the training set
def find_transactions_from_uncommon_merchants(common_merchants):
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)-[:RELATED_TO]->(m:Merch)
            WHERE NOT m.merchant IN $common_merchants AND m.train = true AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            common_merchants=common_merchants
        )
        return [record["t"] for record in result]
# Identify the transactions from uncommon merchants
transactions_from_uncommon_merchants = find_transactions_from_uncommon_merchants(common_merchants)

In [ ]:
print("The transactions from uncommon merchants in the training set:")
# Print column headers
print("{:<20s} {:<15s} {:<10s} {:<30s} {:<15s}".format("Transaction Date", "Category", "Amount", "Merchant", "CC_Number"))
# Print the dividing line
print("-" * 95)
# Print the data information of transaction
for transaction in transactions_from_uncommon_merchants:
    transaction_date = transaction["trans_date_trans_time"]
    category = transaction["category"]
    amount = transaction["amt"]
    merchant = transaction["merchant"]
    cc_num = transaction["cc_num"]
    print("{:<20s} {:<15s} {:<10.2f} {:<30s} {:<15.0f}".format(str(transaction_date)[:20], str(category)[:15], amount, str(merchant)[:30], cc_num))

The transactions from uncommon merchants in the training set:
Transaction Date     Category        Amount     Merchant                       CC_Number
-----------------------------------------------------------------------------------------------
12/2/2020            shopping_pos    1183.93    fraud_Beier-Hyatt              3588000000000000
12/16/2020           shopping_net    1158.64    fraud_Terry-Huel               639046000000
12/8/2020            shopping_net    1128.83    fraud_Lemke-Gutmann            213181000000000
12/8/2020            shopping_net    1115.54    fraud_Hills-Witting            3545110000000000
12/5/2020            shopping_pos    1107.65    fraud_Turner and Sons          630423000000
12/11/2020           shopping_pos    1103.29    fraud_Stoltenberg-Beatty       3596220000000000
12/4/2020            shopping_net    1068.48    fraud_Auer-West                213157000000000
12/2/2020            shopping_net    1061.37    fraud_Predovic Inc             3588000000000000
12/16/2020           shopping_net    1056.99    fraud_Zboncak, Rowe and Murazi 2714020000000000
12/22/2020           shopping_pos    1041.51    fraud_Willms, Kris and Bergnau 2242180000000000

In [ ]:
# Extract a list of common merchants from the testing set
def get_common_merchants():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (m:Merch)
            WHERE m.train = false
            RETURN m.merchant AS merchant
            LIMIT 10
            """
        )
        return [record["merchant"] for record in result]
# Extract a list of common merchants
common_merchants = get_common_merchants()
print("List of common merchants:")
print(common_merchants)

List of common merchants:
['fraud_Botsford and Sons', 'fraud_Leannon-Ward', 'fraud_Bahringer, Osinski and Block', 'fraud_Kunze Inc', 'fraud_Kassulke Inc', 'fraud_Bartoletti and Sons', 'fraud_Marks Inc', 'fraud_Miller-Harris', 'fraud_Morissette PLC', 'fraud_Bradtke PLC']

In [ ]:
# Retrieve nodes on Neo4j for transactions from uncommon merchants (testing set)
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE NOT m.merchant IN ['fraud_Botsford and Sons', 'fraud_Leannon-Ward', 'fraud_Bahringer, Osinski and Block', 'fraud_Kunze Inc', 'fraud_Kassulke Inc', 'fraud_Bartoletti and Sons', 'fraud_Marks Inc', 'fraud_Miller-Harris', 'fraud_Morissette PLC', 'fraud_Bradtke PLC']
        # AND m.train = false AND t.is_fraud = 1
        # RETURN c, t, m
        # ORDER BY t.amt DESC
        # LIMIT 10

In [ ]:
# Extract a list of uncommon merchants from the testing set
def find_transactions_from_uncommon_merchants(common_merchants):
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)-[:RELATED_TO]->(m:Merch)
            WHERE NOT m.merchant IN $common_merchants AND m.train = false AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            common_merchants=common_merchants
        )
        return [record["t"] for record in result]
# Identify the transactions from uncommon merchants
transactions_from_uncommon_merchants = find_transactions_from_uncommon_merchants(common_merchants)

In [ ]:
print("The transactions from uncommon merchants in the testing set:")
# Print column headers
print("{:<20s} {:<15s} {:<10s} {:<30s}".format("Transaction Date", "Category", "Amount", "Merchant", "CC_Number"))
# Print the dividing line
print("-" * 95)
# Print the data information of transaction
for transaction in transactions_from_uncommon_merchants:
    transaction_date = transaction["trans_date_trans_time"]
    category = transaction["category"]
    amount = transaction["amt"]
    merchant = transaction["merchant"]
    cc_num = transaction["cc_num"]
    print("{:<20s} {:<15s} {:<10.2f} {:<30s} {:<15.0f}".format(str(transaction_date)[:20], str(category)[:15], amount, str(merchant)[:30], cc_num))

The transactions from uncommon merchants in the testing set:
Transaction Date     Category        Amount     Merchant
-----------------------------------------------------------------------------------------------
12/2/2020            shopping_pos    1318.89    fraud_Torphy-Goyette           3588000000000000
12/9/2020            shopping_net    1155.37    fraud_Heathcote, Yost and Kert 30093000000000
12/8/2020            shopping_net    1153.76    fraud_Altenwerth, Cartwright a 3591920000000000
12/11/2020           shopping_net    1123.99    fraud_Kerluke-Abshire          3596360000000000
12/2/2020            shopping_pos    1118.24    fraud_Barrows PLC              3588000000000000
12/6/2020            shopping_net    1099.03    fraud_Langworth, Boehm and Gul 3564180000000000
12/5/2020            shopping_net    1086.32    fraud_Reichert, Shanahan and H 4292740000000000000
12/15/2020           shopping_net    1065.89    fraud_Schumm PLC               6011490000000000
12/1/2020            shopping_net    1061.02    fraud_Kuhic LLC                377835000000000
12/22/2020           shopping_net    1039.42    fraud_Mosciski, Ziemann and Fa 2242180000000000

In [ ]:
# Extract a list of common categories from the training set
def get_common_categories():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (m:Merch)
            WHERE m.train = true
            WITH m.category AS category, COUNT(*) AS count
            RETURN category
            ORDER BY count DESC
            LIMIT 10
            """
        )
        return [record["category"] for record in result]

# Retrieve a list of common categories
common_categories = get_common_categories()

# Print the result
print("List of common categories:")
for category in common_categories:
    print(category)

List of common categories:
gas_transport
home
grocery_pos
shopping_pos
kids_pets
shopping_net
entertainment
personal_care
food_dining
health_fitness

In [ ]:
# Retrieve nodes on Neo4j for transactions from uncommon categories (training set):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE NOT m.category IN ['gas_transport', 'home', 'grocery_pos', 'shopping_pos', 'kids_pets', 'shopping_net', 'entertainment', 'personal_care', 'food_dining', 'health_fitness']
        # AND m.train = true AND t.is_fraud = 1
        # RETURN c, t, m
        # ORDER BY t.amt DESC
        # LIMIT 10

In [ ]:
# Extract a list of uncommon categories from the training set
def find_transactions_from_uncommon_category(common_categories):
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)-[:RELATED_TO]->(m:Merch)
            WHERE NOT m.category IN $common_categories AND m.train = true AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            common_categories=common_categories
        )
        return [record["t"] for record in result]

# Determine the transactions from uncommon categories
transactions_from_uncommon_category = find_transactions_from_uncommon_category(common_categories)

In [ ]:
# Print column headers
print("The transactions from uncommon categories in the training set:")
# Print the dividing line
print("{:<20s} {:<15s} {:<10s} {:<30s} {:<20s}".format("Transaction Date", "Category", "Amount", "Merchant", "CC_Number"))
# Print the data for each transaction
print("-" * 90)
for transaction in transactions_from_uncommon_category:
    transaction_date = transaction["trans_date_trans_time"]
    category = transaction["category"]
    amount = transaction["amt"]
    merchant = transaction["merchant"]
    cc_number = transaction["cc_num"]
    print("{:<20s} {:<15s} {:<10.2f} {:<30s} {:<15.0f}".format(str(transaction_date)[:20], str(category)[:15], amount, str(merchant)[:30], cc_number))

The transactions from uncommon categories in the training set:
Transaction Date     Category        Amount     Merchant                       CC_Number
------------------------------------------------------------------------------------------
12/14/2020           misc_net        938.80     fraud_Herman, Treutel and Dick 377550000000000
12/1/2020            misc_pos        913.04     fraud_Gutmann-Upton            30267000000000
12/17/2020           misc_net        890.81     fraud_Donnelly PLC             2714020000000000
12/16/2020           misc_net        848.91     fraud_Rippin, Kub and Mann     180040000000000
12/6/2020            misc_net        846.50     fraud_Huel-Langworth           4292740000000000000
12/7/2020            misc_net        835.30     fraud_Huel Ltd                 30518200000000
12/19/2020           misc_net        831.86     fraud_Klocko LLC               374125000000000
12/16/2020           misc_net        821.87     fraud_Rippin, Kub and Mann     180040000000000
12/8/2020            misc_net        821.01     fraud_Lehner, Mosciski and Kin 3545110000000000
12/3/2020            misc_net        781.06     fraud_Bernier, Volkman and Hoe 3588000000000000

In [ ]:
# Extract a list of common categories from the testing set
def get_common_categories():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (m:Merch)
            WHERE m.train = false
            WITH m.category AS category, COUNT(*) AS count
            RETURN category
            ORDER BY count DESC
            LIMIT 10
            """
        )
        return [record["category"] for record in result]

# Retrieve a list of common categories
common_categories = get_common_categories()

# Print the result
print("List of common categories:")
for category in common_categories:
    print(category)

List of common categories:
gas_transport
home
grocery_pos
shopping_pos
kids_pets
shopping_net
entertainment
personal_care
food_dining
health_fitness

In [ ]:
# Retrieve nodes on Neo4j for transactions from uncommon categories (testing set)
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE NOT m.category IN ['gas_transport', 'home', 'grocery_pos', 'shopping_pos', 'kids_pets', 'shopping_net', 'entertainment', 'personal_care', 'food_dining', 'health_fitness']
        # AND m.train = false AND t.is_fraud = 1
        # RETURN c, t, m
        # ORDER BY t.amt DESC
        # LIMIT 10

In [ ]:
# Extract a list of uncommon categories from the testing set
def find_transactions_from_uncommon_category(common_categories):
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)-[:RELATED_TO]->(m:Merch)
            WHERE NOT m.category IN $common_categories AND m.train = false AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            """,
            common_categories=common_categories
        )
        return [record["t"] for record in result]

# Determine the transactions from uncommon categories
transactions_from_uncommon_category = find_transactions_from_uncommon_category(common_categories)

In [ ]:
# Print column headers
print("The transactions from uncommon categories in the testing set:")
# Print the dividing line
print("{:<20s} {:<15s} {:<10s} {:<30s} {:<20s}".format("Transaction Date", "Category", "Amount", "Merchant", "CC_Number"))
# Print the data for each transaction
print("-" * 90)
for transaction in transactions_from_uncommon_category:
    transaction_date = transaction["trans_date_trans_time"]
    category = transaction["category"]
    amount = transaction["amt"]
    merchant = transaction["merchant"]
    cc_number = transaction["cc_num"]
    print("{:<20s} {:<15s} {:<10.2f} {:<30s} {:<15.0f}".format(str(transaction_date)[:20], str(category)[:15], amount, str(merchant)[:30], cc_number))

The transactions from uncommon categories in the testing set:
Transaction Date     Category        Amount     Merchant                       CC_Number
------------------------------------------------------------------------------------------
12/9/2020            misc_net        1015.53    fraud_Zemlak Group             3591920000000000
12/17/2020           misc_net        985.69     fraud_Rippin, Kub and Mann     639046000000
12/6/2020            misc_net        905.63     fraud_Mante Group              4412720000000000
12/11/2020           misc_net        890.64     fraud_Huel-Langworth           4560400000000000000
12/9/2020            misc_net        824.10     fraud_Bernier, Volkman and Hoe 213181000000000
12/13/2020           misc_net        823.31     fraud_Klocko LLC               377550000000000
12/1/2020            misc_net        806.92     fraud_Dooley-Thompson          30267000000000
12/16/2020           misc_net        806.56     fraud_Koelpin and Sons         180040000000000
12/8/2020            misc_net        798.67     fraud_McGlynn-Heathcote        3545110000000000
12/17/2020           misc_net        759.36     fraud_Parisian, Schiller and A 639046000000
12/13/2020           misc_net        746.79     fraud_Zemlak Group             377550000000000
12/15/2020           misc_net        725.33     fraud_Volkman Ltd              6011490000000000
12/8/2020            misc_net        721.96     fraud_Bogisich-Homenick        3545110000000000
12/16/2020           travel          9.27       fraud_Mosciski Group           2714020000000000
12/4/2020            misc_pos        9.02       fraud_Bruen-Yost               213157000000000
12/11/2020           travel          7.88       fraud_Kris-Kertzmann           4560400000000000000
12/17/2020           grocery_net     7.76       fraud_Ferry, Reichel and DuBuq 639046000000