In [1]:
import neo4jupyter  #Before import neo4jupyter, need to !pip install neo4jupyter
from py2neo import Graph
import pandas as pd

In [2]:
# Connect to Neo4j
graph = Graph("bolt://localhost:7687", auth=("neo4j", "Group3_91"))

In [3]:
# Read file Customer
customer = pd.read_csv("D:/CSDL/customer.csv")
customer.head(5)

,index,cc_num,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time
0,1,6.760000e+11,92.04,Lisa,Fitzpatrick,F,58761 Brewer Rapids,Skytop,PA,18357,41.2336,-75.2389,104,Financial trader,8/25/1927,7734521672b0d4226e8beb2f32a18be6,1385856055
1,2,3.590000e+15,55.37,Dylan,Garcia,M,923 Jordan Road,Afton,MN,55001,44.8696,-92.8234,2916,Barrister's clerk,6/29/1935,802e9541f9b488a428ec596d62917edc,1385856072
2,3,4.150000e+15,111.36,Tanner,Carroll,M,494 Burke Ports,Cokeburg,PA,15324,40.1008,-80.0652,632,Dealer,4/8/1989,8def08fd0956c7c6e195ecec91ff5dbe,1385856127
3,4,2.130000e+14,108.09,James,Hunt,M,7369 Gabriel Tunnel,Pointe Aux Pins,MI,49775,45.7549,-84.4470,95,Electrical engineer,2/9/1994,4c24b8c2865a0e0fd426c4eb20617a03,1385856130
4,5,5.720000e+11,11.58,Susan,Mills,F,005 Cody Estates,Louisville,KY,40202,38.2507,-85.7476,736284,Engineering geologist,4/2/1952,a9f5ad66e14aa6c96465cc7c5777c0f7,1385856143

In [4]:
# Read file Transaction
transaction = pd.read_csv("D:/CSDL/transaction.csv")
transaction.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,trans_num,unix_time,is_fraud
0,12/1/2020,6.762920e+11,fraud_Stracke-Lemke,grocery_pos,92.04,7734521672b0d4226e8beb2f32a18be6,1385856055,0
1,12/1/2020,3.592930e+15,fraud_Marks Inc,gas_transport,55.37,802e9541f9b488a428ec596d62917edc,1385856072,0
2,12/1/2020,4.149240e+15,"fraud_Moen, Reinger and Murphy",grocery_pos,111.36,8def08fd0956c7c6e195ecec91ff5dbe,1385856127,0
3,12/1/2020,2.131940e+14,fraud_Bogisich Inc,grocery_pos,108.09,4c24b8c2865a0e0fd426c4eb20617a03,1385856130,0
4,12/1/2020,5.718440e+11,fraud_Lebsack and Sons,misc_net,11.58,a9f5ad66e14aa6c96465cc7c5777c0f7,1385856143,0

In [5]:
# Read file Merch
merch = pd.read_csv("D:/CSDL/merch.csv")
merch.head(5)

,category,merchant,merch_lat,merch_long,trans_num
0,grocery_pos,fraud_Stracke-Lemke,42.14648,-74.32872,7734521672b0d4226e8beb2f32a18be6
1,gas_transport,fraud_Marks Inc,45.09455,-93.73171,802e9541f9b488a428ec596d62917edc
2,grocery_pos,"fraud_Moen, Reinger and Murphy",41.02571,-80.37698,8def08fd0956c7c6e195ecec91ff5dbe
3,grocery_pos,fraud_Bogisich Inc,45.58304,-83.75529,4c24b8c2865a0e0fd426c4eb20617a03
4,misc_net,fraud_Lebsack and Sons,37.39584,-85.36133,a9f5ad66e14aa6c96465cc7c5777c0f7

In [6]:
from sklearn.model_selection import train_test_split
# Divided train-test 9-1
train_customer, test_customer = train_test_split(customer, test_size = 0.1, random_state = 42)
train_transaction, test_transaction = train_test_split(transaction, test_size = 0.1, random_state = 42)
train_merch, test_merch = train_test_split(merch, test_size = 0.1, random_state = 42)

In [7]:
# Create node for Customer-train
for _, row in train_customer.iterrows():
    # Retrieve information from the row
    index = row['index']
    cc_num = row['cc_num']
    amt = row['amt']
    first = row['first']
    last = row['last']
    gender = row['gender']
    street = row['street']
    city = row['city']
    state = row['state']
    zip_code = row['zip']
    lat = row['lat']
    lon = row['long']
    city_pop = row['city_pop']
    job = row['job']
    dob = row['dob']
    trans_num = row['trans_num']
    unix_time = row['unix_time']
    
    # Create a Customer node with attributes and set the train=True
    query_create_customer = '''
    CREATE (c:Customer {index: $index, cc_num: $cc_num, amt: $amt, first: $first, last: $last, gender: $gender,
                        street: $street, city: $city, state: $state, zip: $zip_code, lat: $lat, lon: $lon,
                        city_pop: $city_pop, job: $job, dob: $dob, trans_num: $trans_num, unix_time: $unix_time,
                        train: True})
    '''
    graph.run(query_create_customer, index=index, cc_num=cc_num, amt=amt, first=first, last=last, gender=gender,
              street=street, city=city, state=state, zip_code=zip_code, lat=lat, lon=lon, city_pop=city_pop,
              job=job, dob=dob, trans_num=trans_num, unix_time=unix_time)

In [ ]:
# Create node for Customer-test
for _, row in test_customer.iterrows():
    # Lấy thông tin từ hàng
    index = row['index']
    cc_num = row['cc_num']
    amt = row['amt']
    first = row['first']
    last = row['last']
    gender = row['gender']
    street = row['street']
    city = row['city']
    state = row['state']
    zip_code = row['zip']
    lat = row['lat']
    lon = row['long']
    city_pop = row['city_pop']
    job = row['job']
    dob = row['dob']
    trans_num = row['trans_num']
    unix_time = row['unix_time']

    # Create a Customer node with attributes and set the train=False
    query_create_customer = '''
    CREATE (c:Customer {index: $index, cc_num: $cc_num, amt: $amt, first: $first, last: $last, gender: $gender,
                        street: $street, city: $city, state: $state, zip: $zip_code, lat: $lat, lon: $lon,
                        city_pop: $city_pop, job: $job, dob: $dob, trans_num: $trans_num, unix_time: $unix_time,
                        train: False})
    '''
    graph.run(query_create_customer, index=index, cc_num=cc_num, amt=amt, first=first, last=last, gender=gender,
              street=street, city=city, state=state, zip_code=zip_code, lat=lat, lon=lon, city_pop=city_pop,
              job=job, dob=dob, trans_num=trans_num, unix_time=unix_time)

In [8]:
# Create node for Transaction-train
for _, row in train_transaction.iterrows():
    trans_date_trans_time = row['trans_date_trans_time']
    cc_num = row['cc_num']
    merchant = row['merchant']
    category = row['category']
    amt = row['amt']
    trans_num = row['trans_num']
    unix_time = row['unix_time']
    is_fraud = row['is_fraud']
    
    # Create a Transaction node with attributes and set the train=True
    query_create_transaction = '''
    CREATE (t:Transaction {trans_date_trans_time: $trans_date_trans_time, cc_num: $cc_num, merchant: $merchant,
                           category: $category, amt: $amt, trans_num: $trans_num, unix_time: $unix_time,
                           is_fraud: $is_fraud, train: True})
    '''
    graph.run(query_create_transaction, trans_date_trans_time=trans_date_trans_time, cc_num=cc_num, merchant=merchant,
              category=category, amt=amt, trans_num=trans_num, unix_time=unix_time, is_fraud=is_fraud)

In [ ]:
# Create node for Transaction-test
for _, row in test_transaction.iterrows():
    trans_date_trans_time = row['trans_date_trans_time']
    cc_num = row['cc_num']
    merchant = row['merchant']
    category = row['category']
    amt = row['amt']
    trans_num = row['trans_num']
    unix_time = row['unix_time']
    is_fraud = row['is_fraud']

    # Create a Transaction node with attributes and set the train=False
    query_create_transaction = '''
    CREATE (t:Transaction {trans_date_trans_time: $trans_date_trans_time, cc_num: $cc_num, merchant: $merchant,
                           category: $category, amt: $amt, trans_num: $trans_num, unix_time: $unix_time,
                           is_fraud: $is_fraud, train: False})
    '''
    graph.run(query_create_transaction, trans_date_trans_time=trans_date_trans_time, cc_num=cc_num, merchant=merchant,
              category=category, amt=amt, trans_num=trans_num, unix_time=unix_time, is_fraud=is_fraud)

In [11]:
# Create node for Merch-train
for _, row in train_merch.iterrows():
    category = row['category']
    merchant = row['merchant']
    merch_lat = row['merch_lat']
    merch_long = row['merch_long']
    trans_num = row['trans_num']

    # Create a Merch node with attributes and set the train=True
    query_create_merch = '''
    CREATE (m:Merch {category: $category, merchant: $merchant,
                           merch_lat: $merch_lat, merch_long: $merch_long,
                           trans_num: $trans_num, train: True})
    '''
    graph.run(query_create_merch, category=category, merchant=merchant,
              merch_lat=merch_lat, merch_long=merch_long, trans_num=trans_num)

In [ ]:
# Create node for Merch-test
for _, row in test_merch.iterrows():
    category = row['category']
    merchant = row['merchant']
    merch_lat = row['merch_lat']
    merch_long = row['merch_long']
    trans_num = row['trans_num']

    # Create a Merch node with attributes and set the train=False
    query_create_merch = '''
    CREATE (m:Merch {category: $category, merchant: $merchant,
                           merch_lat: $merch_lat, merch_long: $merch_long,
                           trans_num: $trans_num, train: False})
    '''
    graph.run(query_create_merch, category=category, merchant=merchant,
              merch_lat=merch_lat, merch_long=merch_long, trans_num=trans_num)

In [12]:
# Create relationship name MADE_TRANSACTION between Customer and Transaction
query_linkcus_trans = '''
MATCH (c:Customer), (t:Transaction)
WHERE c.trans_num = t.trans_num
CREATE (c)-[:MADE_TRANSACTION]->(t)
'''
graph.run(query_linkcus_trans)

(No data)

In [13]:
# Create relationship name RELATED_TO between Transaction and Merch
query_linktrans_merch = '''
MATCH (t:Transaction), (m:Merch)
WHERE t.trans_num = m.trans_num
CREATE (t)-[:RELATED_TO]->(m)
'''
graph.run(query_linktrans_merch)

(No data)

In [7]:
# Check the relationship between Customer, Transaction, and Merch in the Neo4j (train dataset):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE c.train = true AND t.train = true and m.train = true
        # RETURN c, t, m
        # LIMIT 5

In [8]:
# Check the relationship between Customer, Transaction, and Merch in the Neo4j (test dataset):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE c.train = false AND t.train = false and m.train = false
        # RETURN c, t, m
        # LIMIT 5

In [9]:
# Create DataFrame include columns: amt, merchant, trans_date_trans_time, is_fraud, category
query = """
MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)
RETURN  t.amt AS amount, t.merchant AS merchant, t.trans_date_trans_time AS transaction_time, 
        t.is_fraud AS is_fraud, t.category AS category, t.cc_num AS cc_num
"""
result = graph.run(query)
data = {"amount": [], "merchant": [], "transaction_time": [], "is_fraud": [], "category": [], "cc_num": []}

# Iterate through the query results and save the data into their respective parts
for record in result:
    data["amount"].append(record["amount"])
    data["merchant"].append(record["merchant"])
    data["transaction_time"].append(record["transaction_time"])
    data["is_fraud"].append(record["is_fraud"])
    data["category"].append(record["category"])
    data["cc_num"].append(record["cc_num"])

df = pd.DataFrame(data)

# Utilize the pre-split training and testing sets
df_train = df.loc[train_transaction.index]
df_test = df.loc[test_transaction.index]

print("Train Data:")
print(df_train)

Train Data:
         amount                               merchant transaction_time  \
31005     48.80                 fraud_Bernier and Sons       12/14/2020
75777      2.10                        fraud_Auer-West        12/6/2020
127987     8.99                    fraud_Daugherty LLC        12/2/2020
11286      2.13                      fraud_Gerlach Inc        12/8/2020
42885   1566.58                     fraud_Kassulke PLC        12/6/2020
...         ...                                    ...              ...
110268     6.46                       fraud_Torp-Lemke       12/19/2020
119879     1.00  fraud_Gottlieb, Considine and Schultz        12/4/2020
103694    39.04                      fraud_Watsica LLC       12/21/2020
131932   100.82                        fraud_Kuhic LLC       12/29/2020
121958    86.28                      fraud_Schmitt Inc       12/14/2020

        is_fraud       category        cc_num
31005          0      kids_pets  3.805200e+13
75777          0   shopping_net  2.291160e+15
127987         0      kids_pets  4.279160e+12
11286          0   shopping_net  3.531130e+15
42885          0   shopping_net  4.302480e+15
...          ...            ...           ...
110268         0       misc_pos  3.008200e+13
119879         0   shopping_net  6.011440e+15
103694         0  personal_care  6.011110e+15
131932         0   shopping_net  3.755340e+14
121958         0  gas_transport  2.131030e+14

[125584 rows x 6 columns]

In [10]:
print("Test Data:")
print(df_test)

Test Data:
        amount                                     merchant transaction_time  \
137472   94.72                              fraud_Marks Inc        12/3/2020
93149    76.00             fraud_Jenkins, Hauck and Friesen        12/2/2020
14680    47.07                        fraud_Friesen-D'Amore       12/26/2020
26127   140.33                            fraud_Bins-Howell       12/21/2020
113736    6.22                               fraud_Auer LLC       12/12/2020
...        ...                                          ...              ...
87418    48.84            fraud_Raynor, Reinger and Hagenes        12/8/2020
8343     60.05  fraud_Christiansen, Goyette and Schamberger       12/23/2020
33570    18.89                             fraud_Bednar PLC       12/11/2020
56752    23.73                     fraud_Gleason-Macejkovic       12/15/2020
117294   24.81                         fraud_Schoen-Quigley       12/26/2020

        is_fraud       category        cc_num
137472         0  gas_transport  3.596220e+15
93149          0  gas_transport  3.725200e+14
14680          0  gas_transport  4.642260e+15
26127          0  personal_care  3.518230e+15
113736         0  personal_care  3.562260e+15
...          ...            ...           ...
87418          0  gas_transport  4.377340e+15
8343           0  gas_transport  4.311370e+18
33570          0      kids_pets  4.067140e+15
56752          0   shopping_net  3.551220e+15
117294         0      kids_pets  4.488940e+15

[13954 rows x 6 columns]

In [11]:
# Analyze the 'amount' attribute on the training set
amt_analysis_train = df_train['amount'].describe()
print("The amount of transactions in the training set:")
print(amt_analysis_train)

# Analyze the 'amount' attribute on the testing set
amt_analysis_test = df_test['amount'].describe()
print("The amount of transactions in the testing set:")
print(amt_analysis_test)

The amount of transactions in the training set:
count    125584.000000
mean         68.808308
std         167.900154
min           1.000000
25%           9.630000
50%          47.210000
75%          82.780000
max       22768.110000
Name: amount, dtype: float64
The amount of transactions in the testing set:
count    13954.000000
mean        68.934390
std        216.770405
min          1.000000
25%          9.780000
50%         47.375000
75%         81.847500
max      21437.710000
Name: amount, dtype: float64

In [12]:
# Analyze the 'merchant' attribute on the training set
merchant_count_train = df_train['merchant'].value_counts()
print("The transaction provider in the training set:")
print(merchant_count_train)
# Analyze the 'merchant' attribute on the testing set
merchant_count_test = df_test['merchant'].value_counts()
print("====================================")
print("The transaction provider in the testing set:")
print(merchant_count_test)

The transaction provider in the training set:
fraud_Kilback LLC                       410
fraud_Cormier LLC                       369
fraud_Schumm PLC                        350
fraud_Dickinson Ltd                     347
fraud_Kuhn LLC                          336
                                       ...
fraud_Kilback, Nitzsche and Leffler      67
fraud_Satterfield-Lowe                   66
fraud_Skiles-Ankunding                   66
fraud_Medhurst, Labadie and Gottlieb     65
fraud_Douglas, DuBuque and McKenzie      60
Name: merchant, Length: 693, dtype: int64
====================================
The transaction provider in the testing set:
fraud_Kilback LLC                        47
fraud_Ernser-Feest                       45
fraud_Kunze Inc                          43
fraud_Kuhn LLC                           42
fraud_Wuckert, Wintheiser and Friesen    41
                                         ..
fraud_Ritchie, Oberbrunner and Cremin     4
fraud_Satterfield-Lowe                    4
fraud_Larson, Quitzon and Spencer         3
fraud_Hodkiewicz, Prohaska and Paucek     3
fraud_Goyette-Herzog                      3
Name: merchant, Length: 693, dtype: int64

In [13]:
# Analyze the 'category' attribute on the training set
category_counts_train = df_train['category'].value_counts()
print("Analyze the 'category' column in the training set:")
print(category_counts_train)
# Analyze the 'category' attribute on the testing set
category_counts_test = df_test['category'].value_counts()
print("====================================")
print("Analyze the 'category' column in the testing set.:")
print(category_counts_test)

Analyze the 'category' column in the training set:
gas_transport     12836
home              11882
grocery_pos       11849
shopping_pos      11432
kids_pets         10902
shopping_net       9405
entertainment      9031
personal_care      8917
food_dining        8605
health_fitness     8310
misc_pos           7897
misc_net           6148
grocery_net        4452
travel             3918
Name: category, dtype: int64
====================================
Analyze the 'category' column in the testing set.:
gas_transport     1484
home              1355
grocery_pos       1272
kids_pets         1251
shopping_pos      1225
shopping_net      1056
personal_care     1034
entertainment     1011
food_dining        944
health_fitness     905
misc_pos           844
misc_net           683
grocery_net        490
travel             400
Name: category, dtype: int64

In [14]:
# Convert the transaction_time format to a timestamp
df_train['transaction_time'] = pd.to_datetime(df_train['transaction_time'])
df_test['transaction_time'] = pd.to_datetime(df_test['transaction_time'])

# Create a new column 'transaction_date' containing only the date from the 'transaction_time' column
df_train['transaction_date'] = df_train['transaction_time'].dt.date
df_test['transaction_date'] = df_test['transaction_time'].dt.date

# Analyze the number of transactions per day in the training and testing sets
transaction_counts_train = df_train['transaction_date'].value_counts().sort_index()
transaction_counts_test = df_test['transaction_date'].value_counts().sort_index()
print("The number of transactions per day in the training set:")
print(transaction_counts_train)

The number of transactions per day in the training set:
2020-12-01    5547
2020-12-02    2682
2020-12-03    2920
2020-12-04    3330
2020-12-05    3410
2020-12-06    4872
2020-12-07    5820
2020-12-08    5518
2020-12-09    2689
2020-12-10    3086
2020-12-11    3427
2020-12-12    3286
2020-12-13    4867
2020-12-14    5748
2020-12-15    5470
2020-12-16    2721
2020-12-17    3056
2020-12-18    3458
2020-12-19    3326
2020-12-20    4899
2020-12-21    5789
2020-12-22    5489
2020-12-23    2641
2020-12-24    2960
2020-12-25    3277
2020-12-26    3406
2020-12-27    4850
2020-12-28    5719
2020-12-29    5539
2020-12-30    2728
2020-12-31    3054
Name: transaction_date, dtype: int64

In [15]:
print("The number of transactions per day in the testing set:")
print(transaction_counts_test)

The number of transactions per day in the testing set:
2020-12-01    657
2020-12-02    309
2020-12-03    344
2020-12-04    355
2020-12-05    375
2020-12-06    525
2020-12-07    686
2020-12-08    646
2020-12-09    285
2020-12-10    365
2020-12-11    366
2020-12-12    355
2020-12-13    533
2020-12-14    652
2020-12-15    580
2020-12-16    291
2020-12-17    374
2020-12-18    372
2020-12-19    379
2020-12-20    532
2020-12-21    601
2020-12-22    634
2020-12-23    300
2020-12-24    325
2020-12-25    372
2020-12-26    363
2020-12-27    497
2020-12-28    602
2020-12-29    666
2020-12-30    290
2020-12-31    323
Name: transaction_date, dtype: int64

In [16]:
from neo4j import GraphDatabase
# Initialize driver object
driver = GraphDatabase.driver("bolt://localhost:7687", auth=("neo4j", "Group3_91"))

In [17]:
# Extract the amount from the transactions - training set
def extract_transaction_amounts():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)
            WHERE t.train = true
            RETURN t.amt AS amount
            """
        )
        return [record["amount"] for record in result]

In [18]:
import numpy as np
# Compute the threshold based on the mean value and standard deviation - training set
def calculate_threshold(amounts):
    mean = np.mean(amounts)
    std = np.std(amounts)
    threshold = mean + 3 * std
    return threshold

# Extract the amount from the transactions - training set
transaction_amounts = extract_transaction_amounts()

# Calculate threshold
threshold = calculate_threshold(transaction_amounts)

print("Threshold: ", threshold)

Threshold:  606.962441198118

In [19]:
# Retrieve nodes on Neo4j for transactions that exceed the threshold (training set):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE t.amt > 606.962441198118 AND t.is_fraud = 1 AND t.train = true
        # WITH collect(c) AS customers, collect(t) AS transactions, collect(m) AS merch
        # RETURN customers, transactions, merch

In [20]:
# Extract the amount from the transactions - training set
def find_transactions_above_threshold():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)
            WHERE t.amt > $threshold AND t.train = true AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            threshold=threshold
        )
        return [record["t"] for record in result]

# Process the results
transactions_above_threshold = find_transactions_above_threshold()

In [21]:
print("The transactions with abnormal amounts in the training set:")
# Print column headers
print("{:<20s} {:<10s} {:<40s} {:<30s} {:<15s}".format("Transaction Date", "Amount", "Merchant", "Category", "CC_Number"))

# Print the dividing line
print("-" * 115)

# Print the data for each transaction
for transaction in transactions_above_threshold:
    trans_date_trans_time = transaction["trans_date_trans_time"]
    amt = transaction["amt"]
    merchant = transaction["merchant"]
    category = transaction["category"]
    cc_num = transaction["cc_num"]
    print("{:<20s} {:<10.2f} {:<40s} {:<20s} {:<15.0f}".format(trans_date_trans_time, amt, merchant, category, cc_num))

The transactions with abnormal amounts in the training set:
Transaction Date     Amount     Merchant                                 Category                       CC_Number
-------------------------------------------------------------------------------------------------------------------
12/2/2020            1318.89    fraud_Torphy-Goyette                     shopping_pos         3588000000000000
12/2/2020            1183.93    fraud_Beier-Hyatt                        shopping_pos         3588000000000000
12/16/2020           1158.64    fraud_Terry-Huel                         shopping_net         639046000000
12/8/2020            1153.76    fraud_Altenwerth, Cartwright and Koss    shopping_net         3591920000000000
12/8/2020            1128.83    fraud_Lemke-Gutmann                      shopping_net         213181000000000
12/11/2020           1123.99    fraud_Kerluke-Abshire                    shopping_net         3596360000000000
12/19/2020           1121.05    fraud_Schumm PLC                         shopping_net         374125000000000
12/2/2020            1118.24    fraud_Barrows PLC                        shopping_pos         3588000000000000
12/8/2020            1115.54    fraud_Hills-Witting                      shopping_net         3545110000000000
12/5/2020            1107.65    fraud_Turner and Sons                    shopping_pos         630423000000

In [22]:
# Extract the amount from the transactions - testing set
def extract_transaction_amounts():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)
            WHERE t.train = false
            RETURN t.amt AS amount
            """
        )
        return [record["amount"] for record in result]

In [23]:
# Compute the threshold based on the mean value and standard deviation - testing set
def calculate_threshold(amounts):
    mean = np.mean(amounts)
    std = np.std(amounts)
    threshold = mean + 3 * std
    return threshold

# Extract the amount from the transactions - testing set
transaction_amounts = extract_transaction_amounts()

# Calculate threshold
threshold = calculate_threshold(transaction_amounts)

print("Threshold: ", threshold)

Threshold:  385.83417671212356

In [24]:
# Retrieve nodes on Neo4j for transactions that exceed the threshold (testing set):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE t.amt > 385.83417671212356 AND t.is_fraud = 1 AND t.train = false
        # WITH collect(c) AS customers, collect(t) AS transactions, collect(m) AS merch
        # RETURN customers, transactions, merch

In [25]:
# Extract the amount from the transactions - testing set
def find_transactions_above_threshold():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)
            WHERE t.amt > $threshold AND t.train = false AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            threshold=threshold
        )
        return [record["t"] for record in result]

# Process the results
transactions_above_threshold = find_transactions_above_threshold()

In [26]:
print("The transactions with abnormal amounts in the testing set:")
# Print column headers
print("{:<20s} {:<10s} {:<40s} {:<30s} {:<15s}".format("Transaction Date", "Amount", "Merchant", "Category", "CC_Number"))

# Print the dividing line
print("-" * 115)

# Print the data for each transaction
for transaction in transactions_above_threshold:
    trans_date_trans_time = transaction["trans_date_trans_time"]
    amt = transaction["amt"]
    merchant = transaction["merchant"]
    category = transaction["category"]
    cc_num = transaction["cc_num"]
    print("{:<20s} {:<10.2f} {:<40s} {:<20s} {:<15.0f}".format(trans_date_trans_time, amt, merchant, category, cc_num))

The transactions with abnormal amounts in the testing set:
Transaction Date     Amount     Merchant                                 Category                       CC_Number
-------------------------------------------------------------------------------------------------------------------
12/9/2020            1155.37    fraud_Heathcote, Yost and Kertzmann      shopping_net         30093000000000
12/6/2020            1099.03    fraud_Langworth, Boehm and Gulgowski     shopping_net         3564180000000000
12/1/2020            1061.02    fraud_Kuhic LLC                          shopping_net         377835000000000
12/9/2020            1015.53    fraud_Zemlak Group                       misc_net             3591920000000000
12/14/2020           991.10     fraud_Goyette Inc                        shopping_net         6011490000000000
12/8/2020            981.40     fraud_Heathcote, Yost and Kertzmann      shopping_net         213181000000000
12/16/2020           958.42     fraud_Gerlach Inc                        shopping_net         639046000000
12/6/2020            905.63     fraud_Mante Group                        misc_net             4412720000000000
12/17/2020           835.25     fraud_Kassulke PLC                       shopping_net         639046000000
12/13/2020           823.31     fraud_Klocko LLC                         misc_net             377550000000000

In [27]:
# Extract a list of common merchants from the training set
def get_common_merchants():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (m:Merch)
            WHERE m.train = true
            WITH m.merchant AS merchant, COUNT(*) AS count
            RETURN merchant
            ORDER BY count DESC
            LIMIT 10
            """
        )
        return [record["merchant"] for record in result]
# Extract a list of common merchants.
common_merchants = get_common_merchants()
print("List of common merchants:")
print(common_merchants)

List of common merchants:
['fraud_Kilback LLC', 'fraud_Cormier LLC', 'fraud_Kuhn LLC', 'fraud_Schumm PLC', 'fraud_Dickinson Ltd', 'fraud_Boyer PLC', 'fraud_Emard Inc', 'fraud_Raynor, Reinger and Hagenes', 'fraud_Parisian and Sons', 'fraud_Ernser-Feest']

In [28]:
# Retrieve nodes on Neo4j for transactions from uncommon merchants (training set):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE NOT m.merchant IN ['fraud_Kilback LLC', 'fraud_Cormier LLC', 'fraud_Kuhn LLC', 'fraud_Schumm PLC', 'fraud_Dickinson Ltd', 'fraud_Boyer PLC', 'fraud_Emard Inc', 'fraud_Raynor, Reinger and Hagenes', 'fraud_Parisian and Sons', 'fraud_Ernser-Feest'] 
        # AND m.train = true AND t.is_fraud = 1
        # RETURN c, t, m
        # ORDER BY t.amt DESC
        # LIMIT 10

In [29]:
# Extract a list of uncommon merchants from the training set
def find_transactions_from_uncommon_merchants(common_merchants):
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)-[:RELATED_TO]->(m:Merch)
            WHERE NOT m.merchant IN $common_merchants AND m.train = true AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            common_merchants=common_merchants
        )
        return [record["t"] for record in result]
# Identify the transactions from uncommon merchants
transactions_from_uncommon_merchants = find_transactions_from_uncommon_merchants(common_merchants)

In [30]:
print("The transactions from uncommon merchants in the training set:")
# Print column headers
print("{:<20s} {:<15s} {:<10s} {:<30s} {:<15s}".format("Transaction Date", "Category", "Amount", "Merchant", "CC_Number"))
# Print the dividing line
print("-" * 95)
# Print the data information of transaction
for transaction in transactions_from_uncommon_merchants:
    transaction_date = transaction["trans_date_trans_time"]
    category = transaction["category"]
    amount = transaction["amt"]
    merchant = transaction["merchant"]
    cc_num = transaction["cc_num"]
    print("{:<20s} {:<15s} {:<10.2f} {:<30s} {:<15.0f}".format(str(transaction_date)[:20], str(category)[:15], amount, str(merchant)[:30], cc_num))

The transactions from uncommon merchants in the training set:
Transaction Date     Category        Amount     Merchant                       CC_Number
-----------------------------------------------------------------------------------------------
12/2/2020            shopping_pos    1318.89    fraud_Torphy-Goyette           3588000000000000
12/2/2020            shopping_pos    1183.93    fraud_Beier-Hyatt              3588000000000000
12/16/2020           shopping_net    1158.64    fraud_Terry-Huel               639046000000
12/8/2020            shopping_net    1153.76    fraud_Altenwerth, Cartwright a 3591920000000000
12/8/2020            shopping_net    1128.83    fraud_Lemke-Gutmann            213181000000000
12/11/2020           shopping_net    1123.99    fraud_Kerluke-Abshire          3596360000000000
12/2/2020            shopping_pos    1118.24    fraud_Barrows PLC              3588000000000000
12/8/2020            shopping_net    1115.54    fraud_Hills-Witting            3545110000000000
12/5/2020            shopping_pos    1107.65    fraud_Turner and Sons          630423000000
12/11/2020           shopping_pos    1103.29    fraud_Stoltenberg-Beatty       3596220000000000

In [31]:
# Extract a list of common merchants from the testing set
def get_common_merchants():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (m:Merch)
            WHERE m.train = false
            RETURN m.merchant AS merchant
            LIMIT 10
            """
        )
        return [record["merchant"] for record in result]
# Extract a list of common merchants
common_merchants = get_common_merchants()
print("List of common merchants:")
print(common_merchants)

List of common merchants:
['fraud_Botsford and Sons', 'fraud_Leannon-Ward', 'fraud_Bahringer, Osinski and Block', 'fraud_Kunze Inc', 'fraud_Kassulke Inc', 'fraud_Bartoletti and Sons', 'fraud_Marks Inc', 'fraud_Miller-Harris', 'fraud_Morissette PLC', 'fraud_Bradtke PLC']

In [32]:
# Retrieve nodes on Neo4j for transactions from uncommon merchants (testing set)
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE NOT m.merchant IN ['fraud_Botsford and Sons', 'fraud_Leannon-Ward', 'fraud_Bahringer, Osinski and Block', 'fraud_Kunze Inc', 'fraud_Kassulke Inc', 'fraud_Bartoletti and Sons', 'fraud_Marks Inc', 'fraud_Miller-Harris', 'fraud_Morissette PLC', 'fraud_Bradtke PLC'] 
        # AND m.train = false AND t.is_fraud = 1
        # RETURN c, t, m
        # ORDER BY t.amt DESC
        # LIMIT 10

In [33]:
# Extract a list of uncommon merchants from the testing set
def find_transactions_from_uncommon_merchants(common_merchants):
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)-[:RELATED_TO]->(m:Merch)
            WHERE NOT m.merchant IN $common_merchants AND m.train = false AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            common_merchants=common_merchants
        )
        return [record["t"] for record in result]
# Identify the transactions from uncommon merchants
transactions_from_uncommon_merchants = find_transactions_from_uncommon_merchants(common_merchants)

In [34]:
print("The transactions from uncommon merchants in the testing set:")
# Print column headers
print("{:<20s} {:<15s} {:<10s} {:<30s}".format("Transaction Date", "Category", "Amount", "Merchant", "CC_Number"))
# Print the dividing line
print("-" * 95)
# Print the data information of transaction
for transaction in transactions_from_uncommon_merchants:
    transaction_date = transaction["trans_date_trans_time"]
    category = transaction["category"]
    amount = transaction["amt"]
    merchant = transaction["merchant"]
    cc_num = transaction["cc_num"]
    print("{:<20s} {:<15s} {:<10.2f} {:<30s} {:<15.0f}".format(str(transaction_date)[:20], str(category)[:15], amount, str(merchant)[:30], cc_num))

The transactions from uncommon merchants in the testing set:
Transaction Date     Category        Amount     Merchant
-----------------------------------------------------------------------------------------------
12/9/2020            shopping_net    1155.37    fraud_Heathcote, Yost and Kert 30093000000000
12/6/2020            shopping_net    1099.03    fraud_Langworth, Boehm and Gul 3564180000000000
12/1/2020            shopping_net    1061.02    fraud_Kuhic LLC                377835000000000
12/9/2020            misc_net        1015.53    fraud_Zemlak Group             3591920000000000
12/14/2020           shopping_net    991.10     fraud_Goyette Inc              6011490000000000
12/8/2020            shopping_net    981.40     fraud_Heathcote, Yost and Kert 213181000000000
12/16/2020           shopping_net    958.42     fraud_Gerlach Inc              639046000000
12/6/2020            misc_net        905.63     fraud_Mante Group              4412720000000000
12/17/2020           shopping_net    835.25     fraud_Kassulke PLC             639046000000
12/13/2020           misc_net        823.31     fraud_Klocko LLC               377550000000000

In [35]:
# Extract a list of common categories from the training set
def get_common_categories():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (m:Merch)
            WHERE m.train = true
            WITH m.category AS category, COUNT(*) AS count
            RETURN category
            ORDER BY count DESC
            LIMIT 10
            """
        )
        return [record["category"] for record in result]

# Retrieve a list of common categories
common_categories = get_common_categories()

# Print the result
print("List of common categories:")
for category in common_categories:
    print(category)

List of common categories:
gas_transport
home
grocery_pos
shopping_pos
kids_pets
shopping_net
entertainment
personal_care
food_dining
health_fitness

In [36]:
# Retrieve nodes on Neo4j for transactions from uncommon categories (training set):
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE NOT m.category IN ['gas_transport', 'home', 'grocery_pos', 'shopping_pos', 'kids_pets', 'shopping_net', 'entertainment', 'personal_care', 'food_dining', 'health_fitness'] 
        # AND m.train = true AND t.is_fraud = 1
        # RETURN c, t, m
        # ORDER BY t.amt DESC
        # LIMIT 10

In [37]:
# Extract a list of uncommon categories from the training set
def find_transactions_from_uncommon_category(common_categories):
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)-[:RELATED_TO]->(m:Merch)
            WHERE NOT m.category IN $common_categories AND m.train = true AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            LIMIT 10
            """,
            common_categories=common_categories
        )
        return [record["t"] for record in result]

# Determine the transactions from uncommon categories
transactions_from_uncommon_category = find_transactions_from_uncommon_category(common_categories)

In [38]:
# Print column headers
print("The transactions from uncommon categories in the training set:")
# Print the dividing line
print("{:<20s} {:<15s} {:<10s} {:<30s} {:<20s}".format("Transaction Date", "Category", "Amount", "Merchant", "CC_Number"))
# Print the data for each transaction
print("-" * 90)
for transaction in transactions_from_uncommon_category:
    transaction_date = transaction["trans_date_trans_time"]
    category = transaction["category"]
    amount = transaction["amt"]
    merchant = transaction["merchant"]
    cc_number = transaction["cc_num"]
    print("{:<20s} {:<15s} {:<10.2f} {:<30s} {:<15.0f}".format(str(transaction_date)[:20], str(category)[:15], amount, str(merchant)[:30], cc_number))

The transactions from uncommon categories in the training set:
Transaction Date     Category        Amount     Merchant                       CC_Number
------------------------------------------------------------------------------------------
12/17/2020           misc_net        985.69     fraud_Rippin, Kub and Mann     639046000000
12/14/2020           misc_net        938.80     fraud_Herman, Treutel and Dick 377550000000000
12/1/2020            misc_pos        913.04     fraud_Gutmann-Upton            30267000000000
12/17/2020           misc_net        890.81     fraud_Donnelly PLC             2714020000000000
12/11/2020           misc_net        890.64     fraud_Huel-Langworth           4560400000000000000
12/16/2020           misc_net        848.91     fraud_Rippin, Kub and Mann     180040000000000
12/6/2020            misc_net        846.50     fraud_Huel-Langworth           4292740000000000000
12/7/2020            misc_net        835.30     fraud_Huel Ltd                 30518200000000
12/19/2020           misc_net        831.86     fraud_Klocko LLC               374125000000000
12/9/2020            misc_net        824.10     fraud_Bernier, Volkman and Hoe 213181000000000

In [39]:
# Extract a list of common categories from the testing set
def get_common_categories():
    with driver.session() as session:
        result = session.run(
            """
            MATCH (m:Merch)
            WHERE m.train = false
            WITH m.category AS category, COUNT(*) AS count
            RETURN category
            ORDER BY count DESC
            LIMIT 10
            """
        )
        return [record["category"] for record in result]

# Retrieve a list of common categories
common_categories = get_common_categories()

# Print the result
print("List of common categories:")
for category in common_categories:
    print(category)

List of common categories:
gas_transport
grocery_pos
home
shopping_pos
kids_pets
shopping_net
food_dining
entertainment
personal_care
health_fitness

In [40]:
# Retrieve nodes on Neo4j for transactions from uncommon categories (testing set)
        # MATCH (c:Customer)-[:MADE_TRANSACTION]->(t:Transaction)-[:RELATED_TO]->(m:Merch)
        # WHERE NOT m.category IN ['gas_transport', 'grocery_pos', 'home', 'shopping_pos', 'kids_pets', 'shopping_net', 'food_dining', 'entertainment', 'personal_care', 'health_fitness'] 
        # AND m.train = false AND t.is_fraud = 1
        # RETURN c, t, m
        # ORDER BY t.amt DESC
        # LIMIT 10

In [41]:
# Extract a list of uncommon categories from the testing set
def find_transactions_from_uncommon_category(common_categories):
    with driver.session() as session:
        result = session.run(
            """
            MATCH (t:Transaction)-[:RELATED_TO]->(m:Merch)
            WHERE NOT m.category IN $common_categories AND m.train = false AND t.is_fraud = 1
            RETURN t
            ORDER BY t.amt DESC
            """,
            common_categories=common_categories
        )
        return [record["t"] for record in result]

# Determine the transactions from uncommon categories
transactions_from_uncommon_category = find_transactions_from_uncommon_category(common_categories)

In [42]:
# Print column headers
print("The transactions from uncommon categories in the testing set:")
# Print the dividing line
print("{:<20s} {:<15s} {:<10s} {:<30s} {:<20s}".format("Transaction Date", "Category", "Amount", "Merchant", "CC_Number"))
# Print the data for each transaction
print("-" * 90)
for transaction in transactions_from_uncommon_category:
    transaction_date = transaction["trans_date_trans_time"]
    category = transaction["category"]
    amount = transaction["amt"]
    merchant = transaction["merchant"]
    cc_number = transaction["cc_num"]
    print("{:<20s} {:<15s} {:<10.2f} {:<30s} {:<15.0f}".format(str(transaction_date)[:20], str(category)[:15], amount, str(merchant)[:30], cc_number))

The transactions from uncommon categories in the testing set:
Transaction Date     Category        Amount     Merchant                       CC_Number
------------------------------------------------------------------------------------------
12/9/2020            misc_net        1015.53    fraud_Zemlak Group             3591920000000000
12/6/2020            misc_net        905.63     fraud_Mante Group              4412720000000000
12/13/2020           misc_net        823.31     fraud_Klocko LLC               377550000000000
12/16/2020           misc_net        806.56     fraud_Koelpin and Sons         180040000000000
12/8/2020            misc_net        721.96     fraud_Bogisich-Homenick        3545110000000000
12/16/2020           travel          9.27       fraud_Mosciski Group           2714020000000000